log_level  = "{{ nomad_loglevel | upper }}"
data_dir   = "{{ nomad_data_dir }}/"
region     = "{{ nomad_region }}"
bind_addr  = "{{ nomad_bind_addr }}"
datacenter = "{{ nomad_datacenter }}"
name       = "{{ inventory_hostname_short }}"

addresses {
  rpc  = "172.17.5.53"
  http = "172.17.5.53"
  serf = "172.17.5.53"
}

advertise {
  # We need to specify our host's IP because we can't
  # advertise 0.0.0.0 to other nodes in our cluster.
  http = "172.17.5.53:{{ nomad_port_http }}"
  rpc  = "172.17.5.53:{{ nomad_port_rpc }}"
  serf = "172.17.5.53:{{ nomad_port_serf }}"
}

server {
    enabled             = {{ nomad_is_server | bool | lower }}
    bootstrap_expect    = 1
}

ports {
    http = {{ nomad_port_http }}
    rpc  = {{ nomad_port_rpc }}
    serf = {{ nomad_port_serf }}
}
