[Unit]
Description=Nomad Agent
# http://unix.stackexchange.com/questions/126009/cause-a-script-to-execute-after-networking-has-started
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart={{ nomad_install_dir }}/nomad agent -config {{ nomad_data_dir }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
